body{
     background:#202020;
     font:bold 12px 'DSDIGI', Arial, Helvetica, sans-serif;
     margin:0;
     padding:0;
     color:#bbbbbb; 
}


label {
    font-size:5em;
    font-weight:bold;
}
select {
    font-size:3em;font-family:'DSDIGI', Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin:30px 10px 0px 10px;
}

input {
    font-size:3em;font-family:'DSDIGI', Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin:30px 10px 0px 10px;
}

div {
    text-align:center; 
}

.color_blue {
    color:#2060B4;
}

.color_red {
    color:#C10000;
}

.color_green {
    color:#008F2E;
}

.color_yellow {
    color:#FFD90A;
}



@font-face {
    font-family: 'DSDIGI';
    src: url('/font/DSDIGI.eot');
    src: url('/font/DSDIGI.eot?#iefix') format('embedded-opentype'),
         url('/font/DSDIGI.woff') format('woff'),
         url('/font/DSDIGI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

ul { margin:0px 20px 0px 0px; padding:0px; list-style:none; text-align:right;}
ul li {  display:inline; font-size:9em; font-family:'DSDIGI', Arial, Helvetica, sans-serif; }

#seoul_city     { font-size:5em; }
#newyork_city   { font-size:5em; }
#beijing_city   { font-size:5em; }
#london_city    { font-size:5em; }
#paris_city     { font-size:5em; }
#sydney_city    { font-size:5em; }

#point { 
    position:relative; 
    -webkit-animation:mymove 2s ease infinite;
    animation:mymove 2s ease infinite;
    padding-left:10px; 
    padding-right:10px; }

@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 10px; color:#00ff00;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 10px; color:#00ff00; }   
}

@keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 10px; color:#00ff00;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 10px; color:#00ff00; }   
}

button {
    display:inline;
    margin: 50px 30px 5px 30px;
    width: 290px;
    height:255px;
    font-size: 40pt;
    font-weight: bold;
    color: black;
    border-radius: 20px;
    
}
button#jong {
    background-image: url("../images/jong.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
button#book {
    background-image: url("../images/book.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
button#jing {
    background-image: url("../images/jing.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.alarm_on {
    background-image: url("../images/alarm/alarm_on.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80px;
    height:80px;
    border-color: #000000;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
}

.alarm_off {
    background-image: url("../images/alarm/alarm_off.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80px;
    height:80px;
    border-color: #000000;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
}
    
.alarm_config {
    background-image: url("../images/alarm/gear.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80px;
    height:80px;
    border-color: #000000;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;    
}
/*ipad 공용*/
@media only screen and (max-width: 1100px) {
    button { 
        margin: 50px 20px 30px 20px;
        width: 243px; 
        height:211px;
    }
    #seoul_city     { font-size:4em; }
    #newyork_city   { font-size:4em; }
    #beijing_city   { font-size:4em; }
    #london_city    { font-size:4em; }
    #paris_city     { font-size:4em; }
    #sydney_city    { font-size:4em; }
    ul li {font-size:8em}
    .alarm_on  { width:70px; height:70px }
    .alarm_off  { width:70px; height:70px }
    .alarm_config { width:70px; height:70px }
    padding:0px

}

@media only screen and (max-width: 950px) {
    button { 
        margin: 30px 10px 30px 10px;
        width: 149px; 
        height:132px;
    }
    #seoul_city     { font-size:3em; }
    #newyork_city   { font-size:3em; }
    #beijing_city   { font-size:3em; }
    #london_city    { font-size:3em; }
    #paris_city     { font-size:3em; }
    #sydney_city    { font-size:3em; }
    ul li {font-size:6em}
    .alarm_on  { width:50px; height:50px }
    .alarm_off  { width:50px; height:50px }
    .alarm_config { width:50px; height:50px }
    padding:0px
}

@media only screen and (max-width: 700px) {
    button { 
        margin: 30px 5px 30px 5px;
        width: 121px; 
        height:105px;
    }
    #seoul_city     { font-size:2em; }
    #newyork_city   { font-size:2em; }
    #beijing_city   { font-size:2em; }
    #london_city    { font-size:2em; }
    #paris_city     { font-size:2em; }
    #sydney_city    { font-size:2em; }
    ul li {font-size:4em}
    .alarm_on { width:45px; height:45px }
    .alarm_off  { width:45px; height:45px }
    .alarm_config { width:45px; height:45px }
    padding:0px
}
