body{
     background:#202020;
     font:bold 12px Arial, Helvetica, sans-serif;
     margin:0;
     padding:0;
     color:#bbbbbb; 
}


@font-face {
    font-family: 'DSDIGI';
    src: url('/font/DSDIGI.eot');
    src: url('/font/DSDIGI.eot?#iefix') format('embedded-opentype'),
         url('/font/DSDIGI.woff') format('woff'),
         url('/font/DSDIGI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

ul { margin:0px 20px 0px 0px; padding:0px; list-style:none; text-align:right;}
ul li {  display:inline; font-size:9em; font-family:'DSDIGI', Arial, Helvetica, sans-serif; }

#seoul_city     { font-size:5em; }
#newyork_city   { font-size:5em; }
#beijing_city   { font-size:5em; }
#london_city    { font-size:5em; }
#paris_city     { font-size:5em; }
#sydney_city    { font-size:5em; }

#point { 
    position:relative; 
    -webkit-animation:mymove 2s ease infinite;
    animation:mymove 2s ease infinite;
    padding-left:10px; 
    padding-right:10px; }

@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 10px; color:#00ff00;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 10px; color:#00ff00; }   
}

@keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 10px; color:#00ff00;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 10px; color:#00ff00; }   
}

button {
    display:inline;
    margin: 50px 30px 5px 30px;
    width: 290px;
    height:255px;
    font-size: 40pt;
    font-weight: bold;
    color: black;
    border-radius: 20px;
    
}
button#jong {
    background-image: url("/images/jong.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
button#book {
    background-image: url("/images/book.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
button#jing {
    background-image: url("/images/jing.png");
    background-size: 100%;
    background-repeat: no-repeat;
}    

/*ipad 공용*/
@media only screen and (max-width: 1100px) {
    button { 
        margin: 50px 25px 30px 25px;
        width: 243px; 
        height:211px;
    }
    #seoul_city     { font-size:4em; }
    #newyork_city   { font-size:4em; }
    #beijing_city   { font-size:4em; }
    #london_city    { font-size:4em; }
    #paris_city     { font-size:4em; }
    #sydney_city    { font-size:4em; }
    ul li {font-size:8em}
    padding:0px
}

@media only screen and (max-width: 900px) {
    button { 
        margin: 30px 20px 30px 20px;
        width: 149px; 
        height:132px;
    }
    #seoul_city     { font-size:3em; }
    #newyork_city   { font-size:3em; }
    #beijing_city   { font-size:3em; }
    #london_city    { font-size:3em; }
    #paris_city     { font-size:3em; }
    #sydney_city    { font-size:3em; }
    ul li {font-size:6em}
    padding:0px
}

@media only screen and (max-width: 700px) {
    button { 
        margin: 30px 15px 30px 15px;
        width: 121px; 
        height:105px;
    }
    #seoul_city     { font-size:2em; }
    #newyork_city   { font-size:2em; }
    #beijing_city   { font-size:2em; }
    #london_city    { font-size:2em; }
    #paris_city     { font-size:2em; }
    #sydney_city    { font-size:2em; }
    ul li {font-size:4em}
    padding:0px
}
    
