body{
     background:#202020;
     font:bold 12px Arial, Helvetica, sans-serif;
     margin:0;
     padding:0;
     color:#bbbbbb; 
}


@font-face {
    font-family: 'DSDIGI';
    src: url('/font/DSDIGI.eot');
    src: url('/font/DSDIGI.eot?#iefix') format('embedded-opentype'),
         url('/font/DSDIGI.woff') format('woff'),
         url('/font/DSDIGI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


ul { margin:0px 20px 0px 0px; padding:0px; list-style:none; text-align:right;}
ul li {  display:inline; font-size:8em; font-family:'DSDIGI', Arial, Helvetica, sans-serif; }

.city_activated { color:#202020 }
.bg_activated   { background:#cccccc; }
.hours1_activated { color:#00ff00; }
.hours2_activated { color:#0000ff; }
.min1_activated   { color:#ff0000; }
.min2_activated   { color:#ffff00; }


.city_unactivated { color:#bbbbbb }
.bg_unactivated   { background:#202020; }
.hours1_unactivated { color:#bbbbbb; }
.hours2_unactivated { color:#bbbbbb; }
.min1_unactivated   { color:#bbbbbb; }
.min2_unactivated   { color:#bbbbbb; }

#city           { font-size:4em; }

#seoul_city     { font-size:4em; }
#seoul_bg       { }
#seoul_hours1   { }
#seoul_hours2   { }
#seoul_min1     { }
#seoul_min2     { }

#newyork_city   { font-size:4em; }
#newyork_hours1 { }
#newyork_hours2 { }
#newyork_min1   { }
#newyork_min2   { }

#beijing_city   { font-size:4em; }
#beijing_hours1 { }
#beijing_hours2 { }
#beijing_min1   { }
#beijing_min2   { }

#london_city    { font-size:4em; }
#london_hours1  { }
#london_hours2  { }
#london_min1    { }
#london_min2    { }

#paris_city     { font-size:4em; }
#paris_hours1   { }
#paris_hours2   { }
#paris_min1     { }
#paris_min2     { }

#sydney_city     { font-size:4em; }
#sydney_hours1   { }
#sydney_hours2   { }
#sydney_min1     { }
#sydney_min2     { }

#point { position:relative; -webkit-animation:mymove 2s ease infinite; padding-left:10px; padding-right:10px; }

@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 10px; color:#00ff00;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 10px; color:#00ff00; }   
}

    button {
        display:inline;
        margin: 50px 30px 5px 30px;
        width: 243px;
        height:211px;
        font-size: 40pt;
        font-weight: bold;
        color: black;
        border-radius: 20px;
        
    }
    button#jong {
        background-image: url("/images/jong.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    button#book {
        background-image: url("/images/book.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    button#jing {
        background-image: url("/images/jing.png");
                background-size: 100%;
        background-repeat: no-repeat;
    }    
    
